.full-container{
    height:100%;
    width:100%;
    background-image: url("../Login/casuta.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}
