.page-container {
    position: fixed;
    height: 100%;
    width: 100%;
    background-image: url("./casuta.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-container {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100px; 
    display: flex;
    justify-content: center;
    align-items: center;    
    background-color: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(10px); 
}

.navbar-list {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.navbar-list li button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.3);
    color: black;
    font-size: 35px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.navbar-list li button:hover {
    background-color: rgba(255, 255, 255, 0.5);
    transform: scale(1.05);
}

.content-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 20px; 
    margin-top: 0;
}
